<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>SENTRY_DSN</key>
	<string>https://50c14ec98af2ceb5e495a609a2b6e315@o576637.ingest.us.sentry.io/4510986626269184</string>
	<key>SUPublicEDKey</key>
	<string>LPWEHphp3JtwZ+9uBJM74TcJND9uzmGwt8Fz+1i8T5o=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.bundle</string>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noctiluca Server Plugin Bundle</string>
			<key>UTTypeIcons</key>
			<dict/>
			<key>UTTypeIdentifier</key>
			<string>app.noctiluca.server.PluginBundle</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>nocbundle</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSPinnedDomains</key>
		<dict>
			<key>noctiluca.app</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>CLOmM1/OXvSPjw5UOYbAf9GKOxImEp9hhku9W90fHMk=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>hxqRlPTu1bMS/0DITB1SSu0vd4u/8l8TjPgfaAp63Gc=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>Vfd95BwDeSQo+NUYxVEEIlvkOlWY2SalKK1lPhzOx78=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>QXnt2YHvdHR3tJYmQIr0Paosp6t/nggsEGD4QJZ3Q0g=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>mEflZT5enoR1FuXLgYYGqnVEoZvmf9c2bVBpiOjYQ0c=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
