[submodule "libbcrypt/dependencies/libbcrypt"]
	path = libbcrypt/dependencies/libbcrypt
	url = git@github.com:team-unstablers/libbcrypt.git
[submodule "NoctilucaClientQt"]
	path = NoctilucaClientQt
	url = git@github.com:team-unstablers/NoctilucaClientQt.git
