<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOCBundleAuthors</key>
	<array>
		<string>Gyuhwan Park &lt;unstabler@unstabler.pl&gt;</string>
	</array>
	<key>NOCBundleDescription</key>
	<string>A sample plugin bundle for testing purposes.</string>
	<key>NOCBundleExports</key>
	<array>
		<dict>
			<key>NOCPluginDescription</key>
			<string>Emulates Win32 Hangul toggle key behavior for CJK input methods.</string>
			<key>NOCPluginDisplayName</key>
			<string>CJK Emulate Win32 Hangul Toggle</string>
			<key>NOCPluginID</key>
			<string>app.noctiluca.hidio.hack.cjk.emulate_win32_hangul_toggle</string>
			<key>NOCPluginType</key>
			<string>keyboard_hack</string>
		</dict>
	</array>
	<key>NOCBundleLicense</key>
	<string>CC0-1.0</string>
	<key>NOCPluginKitVersion</key>
	<integer>65536</integer>
</dict>
</plist>
