<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NOCBundleAuthors</key>
	<array>
		<string>Gyuhwan Park &lt;unstabler@unstabler.pl&gt;</string>
	</array>
	<key>NOCBundleDescription</key>
	<string>A sample plugin bundle for testing purposes.</string>
	<key>NOCBundleExports</key>
	<array/>
	<key>NOCBundleLicense</key>
	<string>CC0-1.0</string>
	<key>NOCPluginKitVersion</key>
	<integer>65536</integer>
</dict>
</plist>
