<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>LPWEHphp3JtwZ+9uBJM74TcJND9uzmGwt8Fz+1i8T5o=</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
    <key>NSAppTransportSecurity</key>
	<dict>
		<key>NSPinnedDomains</key>
		<dict>
			<key>noctiluca.app</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedCAIdentities</key>
				<array>
                    <!-- OU=GlobalSign ECC Root CA - R4, O=GlobalSign, CN=GlobalSign -->
                    <dict><key>SPKI-SHA256-BASE64</key><string>CLOmM1/OXvSPjw5UOYbAf9GKOxImEp9hhku9W90fHMk=</string></dict>
                    <!-- C=US, O=Google Trust Services LLC, CN=GTS Root R1 -->
                    <dict><key>SPKI-SHA256-BASE64</key><string>hxqRlPTu1bMS/0DITB1SSu0vd4u/8l8TjPgfaAp63Gc=</string></dict>
                    <!-- C=US, O=Google Trust Services LLC, CN=GTS Root R2 -->
                    <dict><key>SPKI-SHA256-BASE64</key><string>Vfd95BwDeSQo+NUYxVEEIlvkOlWY2SalKK1lPhzOx78=</string></dict>
                    <!-- C=US, O=Google Trust Services LLC, CN=GTS Root R3 -->
                    <dict><key>SPKI-SHA256-BASE64</key><string>QXnt2YHvdHR3tJYmQIr0Paosp6t/nggsEGD4QJZ3Q0g=</string></dict>
                    <!-- C=US, O=Google Trust Services LLC, CN=GTS Root R4 -->
                    <dict><key>SPKI-SHA256-BASE64</key><string>mEflZT5enoR1FuXLgYYGqnVEoZvmf9c2bVBpiOjYQ0c=</string></dict>
                </array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
